# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
*.lof
*.lot
*.gz
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml
*.pdf
*.dvi
*.ps
*.eps
*.synctex
*.synctex(busy)
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.idx
*.ilg
*.ind
*.maf
*.mtc*
*.slg
*.slo
*.sls
*.slo
*.soc
*.sos
*.spt
*.sta
*.stc
*.stc
*.stl
*.stp
*.sty
*.svg
*.tmp
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml

# LaTeX build folders
build/
latex/build/
